<div class="container bg-white rounded-3 p-3 mb-2">
	<h4><%= valoracion.nickname_usuario %> -> <%= valoracion.nota %></h4>
	<hr/>
	<h5>PUNTOS POSITIVOS</h4>
	<p><%= valoracion.puntos_positivos %></p>
	<hr/>
	<h5>PUNTOS NEGATIVOS</h4>
	<p><%= valoracion.puntos_negativos %></p>
</div>